<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PhraseArt.infrastructure.query.Category.subcategoryQuery.SubcategoryQueryMapper">
    <sql id="selectBase">
        SELECT
            S.id                         AS id,
            C.id                         AS category_id,
            C.name                       AS category_name,
            C.video_on_demand_associated AS video_on_demand_associated,
            S.name                       AS name,
            S.image_path                 AS image_path,
            S.introduction               AS introduction,
            S.sequence                   AS sequence
        FROM subcategories S
        INNER JOIN categories C ON C.id = S.category_id
    </sql>

    <select id="selectAllByCategoryId" resultType="PhraseArt.infrastructure.query.Category.subcategoryQuery.SubcategoryQueryDao">
        <include refid="selectBase" />
        WHERE S.category_id = #{categoryId}
        ORDER BY S.sequence ASC
        LIMIT #{limit}
        OFFSET #{offset}
    </select>

    <select id="selectOneById" resultType="PhraseArt.infrastructure.query.Category.subcategoryQuery.SubcategoryQueryDao">
        <include refid="selectBase" />
        WHERE S.id = #{id}
        LIMIT 1
    </select>

    <select id="selectAllByCategoryIdAndWord" resultType="PhraseArt.infrastructure.query.Category.subcategoryQuery.SubcategoryQueryDao">
        <include refid="selectBase" />
        WHERE convert(S.name using utf8) collate utf8_unicode_ci LIKE "%${word}%"
            <if test="categoryId != null">
                AND
                    C.id = #{categoryId}
            </if>
        ORDER BY S.sequence ASC
        LIMIT #{limit}
    </select>

    <select id="selectAllVideoOnDemandNameKeysBySubcategoryId" resultType="String">
        SELECT
            V.name_key
        FROM
            video_on_demands V
        INNER JOIN subcategory_video_on_demands S ON S.video_on_demand_id = V.id
        WHERE S.subcategory_id = #{subcategoryId}
    </select>
</mapper>
