<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PhraseArt.infrastructure.query.User.userQuery.UserQueryMapper">
    <select id="selectOneById" resultType="PhraseArt.infrastructure.query.User.userQuery.UserQueryDao">
        SELECT
            id,
            username
        FROM users
        WHERE id = #{id}
        LIMIT 1
    </select>
</mapper>
