<html>
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no'>
    <title>Phrase Artサービス利用規約</title>
  </head>
  <body style="padding: 15px">
    <h1>Phrase Art<br>サービス利用規約</h1>
    <p>本サービス利用規約（以下、「本規約」と称します）は、Phrase Art（以下、「本サービス」と総称します）、ならびに本サービスにアップロードまたは表示される情報、テキスト、リンク、グラフィック、写真、その他のマテリアルやアレンジされたマテリアル（以下、「コンテンツ」と総称します）にアクセスし、利用する場合に適用されます。本サービスを利用することによって、ユーザーは本規約に拘束されることに同意したことになります。</p>

    <h2>1. 本サービスを利用できる人</h2>
    <p>本サービスを利用できるのは、Phrase Artと拘束力のある契約を締結することに同意し、適用のある法域の法律によりサービスを受けることが禁止されていない者に限ります。また、いかなる場合においても、本サービスを利用するためには少なくとも13歳以上でなければならないものとします。ユーザーが、特定の企業、組織、政府、その他の法人のために本規約を受け入れ、本サービスを利用する場合、そのような権限を有していることおよび当該法人を本規約に法的に拘束することができる権限を有していることを表明し保証するものとします。その場合、本規約における「ユーザー」は当該法人を指すものとします。</p>

    <h2>2. 本サービス上のコンテンツ</h2>
    <p>ユーザーは、適用される法令や規則への遵守を含め、本サービスの利用および自身が提供するコンテンツに対して責任を負います。提供されるコンテンツは、他の人たちと共有して差し支えのないものに限定してください。</p>
    <p>本サービスを介して投稿されたまたは本サービスを通じて取得したコンテンツやマテリアルの使用またはこれらへの依拠は、ユーザーの自己責任において行ってください。運営者は、本サービスを介して投稿されたいかなるコンテンツや通信内容についても、その完全性、真実性、正確性、もしくは信頼性を是認、支持、表明もしくは保証せず、また本サービスを介して表示されるいかなる意見についても、それらを是認するものではありません。利用者は、本サービスの利用により、不快、有害、不正確あるいは不適切なコンテンツ、または場合によっては、不当表示されている投稿またはその他欺瞞的な投稿に接する可能性があることを、理解しているものとします。すべてのコンテンツは、そのコンテンツの作成者が単独で責任を負うものとします。運営者は、本サービスを介して投稿されるコンテンツを監視または管理することはできず、また、そのようなコンテンツについて責任を負うこともできません。</p>
    <p>運営者は、不適切なコンテンツ（著作権もしくは商標の侵害、なりすまし、不法行為または嫌がらせ等）を削除する権利を留保します。 </p>
    <p>ご自身のコンテンツが著作権を侵害する方法でコピーされたと判断される場合は、以下の運営者のメールアドレスまで報告をお願いします。</p>
    <p>phrase.art.app@gmail.com</p>

    <h2>3.ユーザーの権利およびコンテンツに対する権利の許諾</h2>
    <p>ユーザーは、本サービス上にまたは本サービスを介して自ら送信、投稿または表示するあらゆるコンテンツに対する権利を留保するものとします。ユーザーのコンテンツはユーザーのものです。すなわち、ユーザーのコンテンツ（他のコンテンツに組み込まれたユーザーの写真などもユーザーのコンテンツの一部と考えられます）の所有権はユーザーにあります。</p>
    <p>ユーザーは、本サービス上にまたは本サービスを介してコンテンツを送信、投稿または表示することによって、運営者があらゆる媒体または配信方法（既知のまたは今後開発される方法）を使ってかかるコンテンツを使用、コピー、複製、処理、改変、修正、公表、送信、表示および配信するための、世界的かつ非独占的ライセンス（サブライセンスを許諾する権利と共に）を運営者に対し無償で許諾することになります。このライセンスによって、ユーザーは、運営者や他の利用者に対し、ご自身の投稿を世界中で閲覧可能とすることを承認することになります。ユーザーは、このライセンスには、Phrase Artが、コンテンツ利用に関する運営者の条件に従うことを前提に、本サービスを提供、宣伝および向上させるための権利ならびに本サービスに対しまたは本サービスを介して送信されたコンテンツを他の媒体やサービスで配給、放送、配信、プロモーションまたは公表することを目的として、その他の企業、組織または個人に提供する権利が含まれていることに同意するものとします。ユーザーが本サービスを介して送信、投稿、送信またはそれ以外で閲覧可能としたコンテンツに関して、Phrase Art、またはその他の企業、組織もしくは個人は、ユーザーに報酬を支払うことなく、当該コンテンツを上記のように追加的に使用できます。</p>
    <p>ユーザーは、ご自身が本サービス上でまたは本サービスを通じて送信、投稿または表示するコンテンツに関して、本規約で付与される権利を許諾するために必要な、すべての権利、ライセンス、同意、許可、権能および／または権限を有していることまたは得ていることを表明し保証するものとします。ユーザーは、ご自身が必要な許可を得ているまたはその他の理由により素材を投稿しPhrase Artに上記のライセンスを許諾することができる法的権限を有している場合を除き、当該コンテンツが著作権その他の財産権の対象となる素材を含むものではないことに同意するものとします。</p>

    <h2>4. 本サービスの利用</h2>
    <p>ユーザーは、本規約およびすべての適用法、規約および規則を遵守する場合にのみ本サービスを利用することができます。</p>
    <p>Phrase Artは常に進化し続けています。そのため、本サービスは、運営者独自の判断により適宜変更されることがあります。運営者は、本サービスまたは本サービス内の機能をユーザーまたは利用者全般に提供することを（永久的または一時的に）中止することがあります。運営者はまた、いつでも、運営者の独自判断により、使用と保存に制限を設ける権利を留保します。運営者はまた、ユーザーに責任を負うことなく、本サービス上のコンテンツの削除または配信の拒否、利用者の資格停止または終了、および利用者名の返還を要求することができるものとします。</p>
    <p>ユーザーは、たとえば本サービスの妨害や運営者が提供するインターフェースおよび手順以外の方法を使った本サービスへのアクセスにより、本サービスの不正利用をしないことにも同意するものとします。ユーザーは、本サービスへのアクセスまたはその使用中に、次のいずれも行ってはなりません。(i)本サービス、Phrase Artのコンピュータシステム、またはPhrase Artプロバイダーのテクニカルデリバリーシステムの非公開部分へのアクセス、不正な改ざんもしくは使用、(ii)システムもしくはネットワークの脆弱性の探索、スキャンもしくはテスト、またはセキュリティもしくは認証方法の侵害もしくは回避、(iii)Phrase Artから提供される（かつ該当する利用条件に従う場合にのみ提供される）、運営者の現在利用可能な公開インターフェース以外の方法（自動プログラムか否かを問わない）で、本サービスへのアクセスもしくはその探索またはアクセスもしくは探索の試み、(iv)電子メールもしくは投稿でのTCP/IPパケットヘッダーまたはヘッダー情報の一部の偽造、または方法の如何を問わず、改ざんされた情報、詐欺的情報もしくは情報源を偽装した情報を送る目的での本サービスの利用、または(v)いずれかの利用者、ホストもしくはネットワークのアクセスの妨害、または遮断（もしくはその試み）（本サービスへのウィルスの送信、オーバーロード、フラッディング、スパミング、メールの大量送信、あるいは本サービスを妨害したり過度な負荷を与える方法でコンテンツの作成をスクリプトすることを含みますが、これらに限定されません）。運営者はさらに、(i)適用されるすべての法令、規則、法的手続や政府の要請へ対応し、(ii)本規約を実施し(規約違反の疑いがある場合の調査を含みます)、(iii)不正利用、セキュリティもしくは技術的な問題を検知、防止もしくはその対処をし、(iv)利用者からのサポート要請に対応し、または (v)Phrase Artやその利用者および社会全体の権利、財産もしくは安全を保護するために、運営者が必要であると合理的に判断する一切の情報について、アクセス、閲覧、保存、および公開する権利を留保します。</p>

    <h2>5.ユーザーアカウント</h2>
    <p>ユーザーは、本サービスを利用するために、アカウントを作成する必要があります。ユーザーは自身のアカウントの安全を守る責任があります。したがって、強力なパスワードを使用し、その使用は本アカウントに限定するようにしてください。ユーザーによる上記の不遵守に起因する一切の損失または損害に対して運営者は責任を負うことはできず、また今後も責任を負うものではありません。</p>
    <p>ユーザーは、本サービスからのほとんどの通信をコントロールすることができます。運営者は、サービスに係わる案内や管理上のメッセージなど、ユーザーに一定の通知を行う必要がある場合があります。これらの通知は本サービスおよびユーザーアカウントの一部とみなされ、ユーザーは、これらの連絡の受信を拒否することができない場合があります。</p>

    <h2>6.本サービスを利用するためのユーザーライセンス</h2>
    <p>本サービスはユーザーに、本サービスの一環として運営者が提供するソフトウェアを使用するための、個人的で世界的、譲渡不能の非独占的なライセンスを無償で許諾します。このライセンスの唯一の目的は、ユーザーが本サービスを本規約に従った形で利用し、その恩恵を受けられるようにすることにあります。</p>
    <p>本規約のいずれの内容も、ユーザーに対してPhrase Artの名称またはPhrase Artの商標、ロゴ、ドメイン名、およびブランドとして特徴的なその他の要素を使用する権利を付与するものではありません。本 サービス (利用者から提供されるコンテンツを除きます) に関するすべての権利、権原および利益は、Phrase Artとそのライセンサーの独占的財産であり続けます。ユーザーがPhrase Artまたは本サービスについて提供するフィードバック、意見または提案は、すべて完全に自発的なものであり、運営者はこのようなフィードバック、意見または提案を、ユーザーに対して何ら義務を負うことなく、運営者が適切であると判断する方法で、自由に利用できるものとします。</p>

    <h2>7.本規約の終了</h2>
    <p>ユーザーは、いつでもアカウントを削除し本サービスの利用を中止することにより、Phrase Artとの法的契約を終了することができます。アカウントの削除方法に関する説明は運営者までお問い合わせください(運営者メールアドレス：phrase.art.app@gmail.com)。</p>
    <p>運営者は、(i)ユーザーが本規約に違反している、(ii)ユーザーが運営者にリスクまたは法的責任の可能性をもたらす、(iii)不法行為によりユーザーのアカウントの削除が必要となった、(iv)ユーザーの長期的不活動によりアカウントの削除が必要となった、または(v)運営者によるユーザーへの本サービスの提供が商業的に困難となった（ただし、これらに限定されません）と、運営者が合理的に確信した場合、理由の如何を問わず、または理由なく、いつでもユーザーのアカウントを一時停止もしくは削除するか、本サービスの全部または一部の提供を終了することができます。かかる状況になった場合、運営者は、ユーザーが次にアカウントにアクセスを試みる際に通知をするための合理的努力を行います。上記のいずれの場合においても、本規約は、ユーザーが本サービスを利用するためのライセンスとともに終了します。ただし、第2、3、5および6条の規定は引き続き適用されます。</p>

    <h2>8. 一般条件</h2>
    <p>本規約は、随時改定される場合があります。改定は溯って適用されることはありません。また、ユーザーと運営者の関係を定めた本規約の最新版は常にhttps://phrase-art.herokuapp.com/policyでご覧になることができます。ユーザーは、本規約への改定して以降に本サービスへのアクセスまたは本サービスの利用を継続することによって、改定後の本規約に拘束されることに同意したものとみなされます。</p>
    <p>本規約のいずれかの規定が無効あるいは法的強制力がないと判断された場合、その規定は必要最小限の範囲で制限されるかまたは失効しますが、本規約中のその他の規定は引き続き完全な効力と効果を維持するものとします。Phrase Artが本規約のいずれかの権利または規定を行使しない場合にも、これをもってその権利または規定が放棄されたとはみなされません。</p>
    <p>本規約は、ユーザーと運営者の間で締結される契約です。本規約についてのご質問は、運営者にご連絡ください。</p>
    <br>
    <p><b>発行日 2018年12月13日</b></p>
  </body>
</html>
